*.sublime-project
*.sublime-workspace
.vscode
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/ravendark
src/ravendarkd
src/ravendark-cli
src/ravendark-tx
src/test/test_ravendark
src/qt/test/test_ravendark-qt
src/bench/bench_ravendark

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/ravendark-config.h
src/config/ravendark-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp
libconftest.dylib*

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
.ravendark
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
ravendark-qt
ravendark-Qt.app
ravendark-qt-*

# Unit-tests
Makefile.test
ravendark-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_ravendark.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-ravendarkd-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/ravendarkdComparisonTool.jar

!src/qt/test/Makefile
!src/leveldb*/Makefile
!depends/Makefile
!depends/patches/**/*.patch

.cproject
.project
.autotools
/doc/doxygen/

libravendarkconsensus.pc
src/qt/ravendark-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
ravendark-cli
ravendarkd
ravendark-qt
make

#CLion
.idea
CMakeLists.txt
cmake-build-debug

#data dir
data
